   <!-- <contact> -->
    <div class="container" id="contact">
        <h1 class="contact">Abhishek Pawar</h1>
        <form class="formy" method="post">
            <p>Civil Engineering</p>
            <p>National Institute of Technology,Calicut</p>
            <!-- <input class="myInput" type="text" name="fname" placeholder="First Name">
                <input class="myInput" type="text" name="lname" placeholder="Last Name">
                <input class="myInput" type="email" name="email" placeholder="Email">
                <button class="submitBtn">submit</button> -->
                <!-- <p>National Institute of Technology,Calicut</p> -->
        </form>
    </div>
<!-- </contact> -->