<!DOCTYPE html>
<html>

<head>
    <title>kyunaie </title>
    <link rel="stylesheet" href="stylex.css" type="text/css">
    <!-- <link rel="stylesheet" href="copy.css"> -->
    <!-- <link rel="stylesheet" href="blue.css"> -->
    <link id="Mobile-css" rel="stylesheet" href="style-mobile.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="viewport" content="width=device-width; initial-scale=1.0;">

<body>

    <div class="image" id="Home">

        <nav class="navbar">
            <ul class="topnav" id="dropdownClick">
                <li><a href="/Home" class=" home click act2 active">Home</a></li>
                <li class="topnav-right"><a class="click act2" href="/contact">contact </a></li>
                <li class="topnav-right"><a href="#about" class="click act2">about</a></li>
                <li class="topnav-right"><a href="#work" class="click act2">work</a></li>
                <li class="dropdownIcon"><a href="javascript:void(0);" onclick="dropdownMenu()">&#9776;</a></li>
            </ul>
        </nav>

        <div id="data">
            <div class="row">

                <div class="col-10 landing">
                    <h1 class="Kyue">Kyuna<span>.ie</span></h1>
                    <h3 class="me">Abhishek Pawar</h3>
                    <p class="bio">Frontend Developer, Designer.</p>
                </div>
            </div>
        </div>

    </div>



    


</body>








<!-- Footer iske bad sab sahi h -->
<footer class="footsie">
    <nav id="foot">
        <ul class="footbar" id="dropdownClick">
            <li><a href="https://www.linkedin.com/in/abhishekmpawar/"> <svg xmlns="http://www.w3.org/2000/svg"
                        width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin">
                        <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
                        <rect x="2" y="9" width="4" height="12"></rect>
                        <circle cx="4" cy="4" r="2"></circle>
                    </svg></a></li>
            <li><a href="https://github.com/kyunaie"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-github">
                        <path
                            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                        </path>
                    </svg></a></li>
            <li><a href="https://www.instagram.com/kyunaie/"> <svg xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram">
                        <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                        <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                    </svg></a></li>
            <li><a href="https://twitter.com/kyunaie"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-twitter">
                        <path
                            d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                        </path>
                    </svg></a></li>
        </ul>
    </nav>
    <h2 class="footnote">Built using HTML-pug, CSS, JavaScript & NodeJs.</h2>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="index.js"></script>
<script src="/static/index.js"></script>
</head>

</html>