@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    margin-right: 2%;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    padding: 2%;
    padding-bottom: 20%;
    padding-right: 2%;
    line-height: 1;
    margin: 0;
    color: chartreuse;
    Background-color: #0e0f11;
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    overflow-x: hidden;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 10%;
    justify-content:center;
}
.flex-column
{
    flex-direction:column !important;
}

.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}
/*  columns and shit */
.col-1 {width: 8.33%;}
/* .col-1 {width: 20.88%;} */
.col-2 {width: 14.66%;}
.col-3 {width: 25%;} 
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* ----------- Nav Bar---------------- */
/* Basic */
nav.navbar{
    width : 100%;
    margin:0;
    /* margin-top: 10%; */ position: fixed;
    /* left: 0; */
    /* top: 0; */

}
nav{
    width : 100%;
    margin:0;

}
/* bg and margin */
nav ul{
    /* background-color:  #0e0f11; */
    background-color: transparent;
    overflow: hidden;
    margin: 0;
    padding: 0;
    align-items: center;
}

/* removing bullets and floating left */
ul.topnav li{
    list-style: none;
    float: left;
} 
ul.footbar li{
    list-style: none;
    float: left;
} 
/* Floating right class right */
ul.topnav li.topnav-right{
    /* justify-self: end; */
    float: right;
    margin-left: auto;
} 
/* Hiding the dropdown icon */
ul.topnav li.dropdownIcon 
{
    display: none;
}
ul.topnav li a.click1{
    padding-bottom: 8px;
}
/* Items and style */
ul.topnav li a{
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: titlecase;

    min-height: 16px;
    font-size:1em;
    font-weight:500;

    padding: 2px 24px;
    border-radius: 16px;
    margin:3px;

    color: #f7f8f3;
}
ul.footbar li a{
    display: inline-block;
    text-decoration: none;
    min-height: 16px;
    font-size:1em;
    font-weight:bold;
    text-align: center;
    padding: 10px 14px;
    text-transform: title;
    color: #f7f8f3;
    margin-top:0;
}
/* Hover action */
ul.topnav li a:hover , .active{
    background-color:chartreuse;
    color: #0e0f11 !important;
}

.landing{
    margin-left: 10%;
}
h1.Kyue {
    text-align: left;
    width: 100%;
    font-size: 8em;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
    font-weight:500;
    font-family :poppins, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 18%;
  
    color: chartreuse;
}
span{
    /* font-size: 8em; */
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
    font-weight:500;
    font-family :poppins, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 18%;
    color: rgb(221, 221, 221);
}
/* h1.Kyue:hover {
    color: rgb(221, 221, 221);
} */
h3.me{
    margin-top:3%;
    font-size:40px;
    font-weight:100;
    font-family: 'Poppins', sans-serif;
}
p.bio{
    color: rgb(221, 221, 221);
    font-size: 20px;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 4%;
}

/* About Page */
div.about{
    margin-bottom: 10%;
}


 











h1.contact{
    text-align: center;
    font-size:3em;
    font-weight: normal;
    padding: 20px 0 0 0;
}
.formy
{
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: center;
    align-items: center;
}
.myInput{
    /* display:block; */
    font-size:15px;
    width:20%;
    padding:6px;
    margin:8px;
    border: 2px solid #dee2e6;
    border-radius:12px;
    min-width:200px;
}
.submitBtn{
    padding:5px 16px;
    margin-top: 10px;
    font-size:18px;
    border: 2px solid chartreuse;
    border-radius:12px;
    cursor:pointer;
    background-color:#0e0f11;
    color: chartreuse;
}
.submitBtn:hover{

    color: crimson;
    border: 2px solid crimson;
}
.linkBtn{
    
    color:chartreuse;
    text-decoration: none;
}

/* Footer styles */
footer.footsie{
    width:100%;
    /* margin-top: 10%; */ position: fixed;
    left: 0;
    bottom: 0;
    margin-bottom:0;
    background-color:#0e0f11;
    padding-bottom:10px;
}
footer ul.footbar ul li a{ 
list-style: none;
display: block;
text-align: center;
padding-left: 0;
line-height:1.5;
font-size:30px;
}
h2.footnote{
    color: rgb(214, 214, 214);
    text-align: center;
    font-size: 14px;
}
h2.footnote:hover{
    color:darkmagenta;
}
nav#foot{

    text-align: center;
  }
nav#foot ul{
    display: flex;
    justify-content:center;
  }
nav#foot ul li a{
    display: inline-block;
    color:chartreuse;
}
nav#foot ul li a:hover{
    color:crimson;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }




  /* <Contact> */
  p.resume{
    color: rgb(221, 221, 221);
    font-size: 15px;
    font-weight:400;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 4%;
}
p span{
    /* font-size: 8em; */
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
    font-weight:500;
    font-family :poppins, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 18%;
    color: chartreuse;
}
h1.black {
    color:#0e0f11 !important;
    text-shadow: #0e0f11 !important;
text-shadow: 0 0 0 #000;
}